/*reset styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*common styles*/
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/OpenSans-VariableFont_wdth,wght.ttf) format("truetype");
}
@font-face {
    font-family: 'Roboto Regular';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
    font-family: 'Roboto Medium';
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}
@font-face {
    font-family: 'Roboto Bold';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}

/* body*/
.body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(222, 237, 255, 0.6) 0%, rgba(166, 204, 250, 0.5) 100%);
}

/* main */
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

/* header */
.rooms-header {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 33px;
}

/* cards */
.room-cards {
    display: grid;
    justify-items: center; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 32px 32px; 
    max-width: calc(372px * 3 + 64px); 
    margin: 0 auto; 
}

/* individual card */
.room-card {
    height: 372px;
    width: 372px;
    background: #2D507C;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.room-card:hover .room-description__link {
    text-decoration-line: underline;
}
.room-card:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
}
.room-card .discount {
    position: absolute;
    top: -50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
}
.room-card.booked .discount {
    display: none;
}
.discount__text {
    max-width: 180px;
    padding: 4px 4px 4px 16px;
    border-radius: 3px 0px 0px 3px;
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: #FF7647;
    display: block;              
    white-space: nowrap;     
    overflow: hidden;             
    text-overflow: ellipsis; 
}
.discount__icon {
    position: absolute;
    height: 30px;
    width: 230px;
    background: url(../img/icon-discount.svg) center left 175px no-repeat;
}
.room-card:hover .discount {
    opacity: 1;
}
/* Псевдоэлемент для затемнения (аналог room-photo-cover) */
.room-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0A2240 100%);
    border-radius: 10px;
    z-index: 1;
}

/* Псевдоэлемент для светлого наложения (аналог room-photo-cover__light) */
.room-card.booked::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    z-index: 2;
}

/* Элемент для отображения состояния брони (аналог room-photo-cover__booked) */
.room-card.booked .room-photo-cover__booked {
    background: #3C3E43;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    position: absolute;
    top: 277px;
    left: 0;
    width: 100%;
    height: 94px;
    z-index: 3;
}
.room-card.booked .price-and-book {
   display: none;
}
.room-card.booked .room-card__content {
    top: 267px;
}
.room-photo {
    max-width: 100%;
    height: auto;
    display: block;
}

/* room description */
.room-card__content {
    position: absolute;
    width: 100%;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding: 24px;
}
.room-card .room-description {
    display: flex;
    flex-direction: column;
    padding-bottom: 21px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 18px;
}
.room-card.booked .room-description {
    padding-bottom: 22px;
    margin-bottom: 0;
    border-bottom: none;
}
.room-description__title {
    width: 322px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    color: #FFFFFF;
    margin-bottom: 9px;
}
.room-description__link {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity 0.3s ease;
    cursor: pointer;
}
.room-description__link.visited {
    opacity: 0.5; 
}
.room-description__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: -webkit-box;   
    line-clamp: 3;    
    -webkit-line-clamp: 3;      
    -webkit-box-orient: vertical;
    overflow: hidden;         
    text-overflow: ellipsis;    
}

/* price and book */
.price-and-book {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.price {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}
.price__header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: block;
    text-align: start;
    color: #FFFFFF;
    width: 130px;
    white-space: nowrap;       
    overflow: hidden;           
    text-overflow: ellipsis;  
}
.price__description {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.price__description-from {
    padding-top: 4px;
    margin-right: 6px;
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.price__description-number {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700; 
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    color: #FF4B77;
    width: 70px;
    display: block;              
    white-space: nowrap;     
    overflow: hidden;             
    text-overflow: ellipsis;  
}
.price__description-currency {
    margin-right: 6px;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #999999;
}

/* book button */
.price-and-book__button {
    padding: 8px 24px;
    min-width: 180px;
    margin-top: 6px;
    border: none;
    color: #FFFFFF;
    background: #F91155;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: block;              
    white-space: nowrap;     
    overflow: hidden;             
    text-overflow: ellipsis; 
    text-align: center;
}
.price-and-book__button:hover {
    background: #D8003F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.price-and-book__button:active {
    background: #D8003F;
    color: #F9637C;
}

/* room reserved */
.room-card .room-booked {
    display: none;
}
.room-card.booked .room-booked {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 94px;
}
.room-booked__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    display: block;   
    white-space: nowrap; 
    overflow: hidden;         
    text-overflow: ellipsis;    
}
.room-booked__text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.room-booked__link {
    padding-left: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FF4B77;
    display: block;   
    white-space: nowrap; 
    overflow: hidden;         
    text-overflow: ellipsis;  
}
.room-booked__link:hover {
    text-decoration-line: underline;
}
.room-booked__link:active {
    color: #FF97B0;
}

/* media */
/* desktop */
@media (min-width: 1280px) {
    .room-card:nth-last-child(1):nth-child(3n+1) {
        grid-column: 2 / 3; 
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 1279px) {
    .room-cards {
        grid-template-columns: repeat(2, 1fr); 
        gap: 28px; 
        max-width: calc(336px * 2 + 28px); 
        margin: 0 auto;
    }
    .room-card:nth-last-child(1) {
        grid-column: span 2; 
    }
    .body {
        padding: 34px;
    }
    .rooms-header {
        margin-bottom: 26px;
    }
    .room-card {
        width: 336px;
        height: 420px;
    }
    .room-card.booked .room-card__content {
        top: 282px;
    }
    .room-description__title {
        width: 288px;     
        white-space: wrap; 
    }
    .price-and-book__button {
        margin-top: 0;
        width: 288px;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
    }
    .price-and-book {
        flex-direction: column;
    }
    .price {
        margin-bottom: 18px;
    }
    .room-card__content {
        top: 270px;
    }
    .room-card__content_lux {
        top: 58%;
    }
    .room-card.booked .room-card__content_lux {
        top: 255px;
    }
    .room-card .discount {
        top: -35%;
    }
    .room-card.booked .room-photo-cover__booked {
        top: 255px;
        height: 165px;
    }
    .room-card.booked .room-booked {
        min-height: 165px;
    }
    .price__description-number {
        margin-right: 4px;
        width: 65px;
    }
}
/* mobile */
@media (max-width: 767px) {
    .body {
        padding: 16px;
    }
    .rooms-header {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
    }
    .room-cards {
        grid-template-columns: 1fr; 
        gap: 32px;
        max-width: calc(288px + 32px); 
        margin: 0 auto;
    }
    .room-card:nth-last-child(1) {
        grid-column: span 1; 
    }
    .room-card {
        width: 288px;
        height: 347px;
    }
    .room-card.booked .room-photo-cover__booked {
        top: 310px;
        height: 114px;
    }
    .room-description__title {
        width: 246px;
        margin-bottom: 10px;
    }
    .room-description__link {
        font-size: 20px;
        line-height: 26px;
    }
    .room-description__text {
        font-size: 14px;
        line-height: 21px;
    }
    .price {
        margin-bottom: 16px;
    }
    .price__header {
        font-size: 14px;
        line-height: 21px;
    }
    .price__description-from {
        margin-right: 5px;
        font-size: 17px;
        line-height: 24px;
    }
    .price__description-number {
        margin-right: 6px;
        font-size: 20px;
        line-height: 32px;
    }
    .price__description-currency {
        margin-right: 4px;
        font-size: 20px;
        line-height: 32px;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.6);
    }
    .price-and-book {
        flex-direction: column;
    }
    .price-and-book__button {
        margin-top: 0;
        width: 246px;
        height: 42px;
        font-size: 14px;
        line-height: 24px;
    }
    .room-card__content {
        top: 208px;
        padding: 21px;
    }
    .room-card .discount {
        top: -20%;
    }
    .room-card.booked .room-photo-cover__booked {
        top: 195px;
        height: 157px;
    }
    .room-card.booked .room-booked {
        min-height: 155px;
    }
    .price__description-number {
        width: 55px;
        margin-right: 2px;
    }
    .room-card__content_business {
        top: 198px;
    }
    .room-card__content_lux {
        top: 198px;
    }
    .room-card.booked .room-card__content{
        top: 222px;
    }
    .room-card.booked .room-card__content_lux {
        top: 212px;
    }
    .room-card.booked .room-card__content_business {
        top: 212px;
    }
}





